@font-face {
    font-family: "Teko";
    src: local("../teko/Teko-VariableFont_wght.ttf"),
      url("../teko/Teko-VariableFont_wght.ttf");
    font-weight:light;
}

@font-face {
    font-family: "Abel";
    src: local("../abel/Abel-Regular.ttf"),
      url("../abel/Abel-Regular.ttf");
    font-weight:light;
}

[theme="bright"] {
    --nav-bg-color: #d6e5e8;
    --nav-bg-color-hover: #b8dde5;
    --font-color: #546c6f;
    --hobby-font-color: #fff;
}

[theme="dark"] {
    --nav-bg-color: #52515e;
    --nav-bg-color-hover: #706f78;
    --font-color: #b9b7c2;
    --hobby-font-color: #b9b7c2;
}

body {
    font-family: Abel;
    margin: 0;
    padding: 0;
    height: 100dvh;
    background-color: var(--nav-bg-color);
}

header {
    width: 100%;
    background-color: var(--nav-bg-color, #d6e5e8);
    font-family: Teko;
    & nav {
        justify-content: center;
        display: flex;
        margin-right: 0;
        & ul.navLinks {
            list-style-type: none;
            overflow: hidden;
            margin-top: 0;
            margin-bottom: 0;
            padding: 0;
            display: flex;
            & li {
                height: 3em;
                border-spacing: 20px;
                & a {
                    display: inline-block;
                    text-align: center;
                    text-decoration: none;
                    color: var(--font-color);
                    font-weight: 600;
                    margin-top: 4px;
                    padding: 5px 16px;
                    font-size: 2em;
                }
                & a:hover {
                    background-color: var(--nav-bg-color-hover, #b8dde5);
                }
            }
        }
    }
}

section {
    padding: 30px;
}

h3 {
    color: var(--font-color);
    text-align: center;
    padding: 20px;
    background-color: var(--nav-bg-color, #d6e5e8);
    border-radius: 20px;
    margin-left: 25vw;
    margin-right: 25vw;
    font-family: Teko;
}

img {
    object-fit:cover;
    padding: 2em;
    margin: 2em;
}

path{
    fill: var(--font-color);
}

g {
    stroke: var(--font-color);
}

footer {
    width: 50%;
    margin-left: 18px;
    margin-top: 18px;
    position: relative;
    bottom: 0;
    color: var(--font-color);
}

section#hobbies {
    background: rgb(2,65,78);
    background: linear-gradient(142deg, rgba(2,65,78,0.5031512605042017) 29%, rgba(54,113,59,0.49754901960784315) 52%, rgba(111,25,95,0.49754901960784315) 70%, rgba(131,46,21,0.5003501400560224) 91%);
    & .hobby-link {
        text-align: center;
        margin-top: 5em;
        & a {
            padding-top: 1em;
            padding-left: 3px;
            padding-right: 3px;
            margin: 7em;
            text-decoration: none;
            font-family: Teko;
            font-size: larger;
            color:var(--hobby-font-color);
            border: 2px solid var(--hobby-font-color);
            border-radius: 10px;
        }
    }
    & .img-link {
        text-align: center;
        & img#music {
            object-position: 20% 50%;
        }
    }
}

section#bio {
    background: rgb(214,229,232);
    background: radial-gradient(circle, rgba(214,229,232,0.805672268907563) 57%, rgba(152,185,191,0.8112745098039216) 100%);
    & summary {
        color: var(--font-color);
        padding: 20px;
        background-color: var(--nav-bg-color, #d6e5e8);
        border-radius: 20px;
        margin-left: 25vw;
        margin-right: 25vw;
        text-align: center;
    }
    & summary:hover {
        background-color: var(--nav-bg-color-hover, #b8dde5);
    }
    & p {
        font-size: 1.2em;
        color: var(--font-color);
    }
    & p:hover {
        background-color: var(--nav-bg-color-hover, #b8dde5);
    }
}

section > summary + p {
    color: var(--font-color);
    margin-left: 25vw;
    margin-right: 25vw;
    padding: 20px;
    background-color: var(--nav-bg-color, #d6e5e8);
    border-radius: 20px;
    font-size: 1.2vw;
}

.contacts {
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
    & li.contact {
        display: inline-block;
        width: 2.5em;
        margin: 10px 10px;

        & svg {
            width: 2em;
            height: 2em;
            padding: 0px 10px;
            margin-bottom: 10px;
        }

        & svg:hover {
            cursor: pointer;
        }

        & span.iconFallback {
            display: none;
        }

        svg:empty + span.iconFallback {
            display: inline-block;
        }
    }
}