@font-face {
    font-family: "Teko";
    src: local("../teko/Teko-VariableFont_wght.ttf"),
      url("../teko/Teko-VariableFont_wght.ttf");
    font-weight:light;
}

:root {
    --nav-bg-color: #d6e5e8;
    --nav-bg-color-hover: #b8dde5;
}

body {
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: 'Teko', Arial, Helvetica, sans-serif;
    position: fixed;
}

.bg {
    margin:0;
}

.bg::before {
    content: "";
    background-image: url("../medias/DSC00785-min.jpg");
    position: absolute;
    background-size:cover;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: -1;
}

header {
    width: 100%;
    background-color: var(--nav-bg-color, #d6e5e8);
    margin-top: 0;
}

header nav {
    align-items: center;
    display: flex;
    overflow: hidden;
    margin-right: 0;
    float: right;
}

nav ul.navLinks {
    width: fit-content;
    width: -moz-fit-content;
    list-style-type: none;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0; 
    display: flex;
}

ul.navLinks li a {
    display: inline-block;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    color: #546c6f;
    font-weight: 600;
    padding: 5px 16px;
    font-size: 1.5em;
}

ul.navLinks li a:hover {
    background-color: var(--nav-bg-color-hover, #b8dde5);
}

#myName {
    display: inline;
    text-align: center;
    color: #546c6f;
    margin: 2px;
    padding: 2px 16px;
    font-size: 2em;
}

/* starts here */
.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
  }
  
  #menu-toggle {
    display: none;
  }
  
.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #546c6f;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
.menu-button::before {
    content: '';
    margin-top: -8px;
}
  
.menu-button::after {
    content: '';
    margin-top: 8px;
}
  
#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}
  
#menu-toggle:checked + .menu-button-container .menu-button {
    background: #546c6f;
}
  
#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}
  
@media (max-width: 820px) {
    .menu-button-container {
      display: flex;
    }
    nav ul.navLinks {
    	position: absolute;
      	top: 0;
      	margin-top: 45px;
      	left: 0;
      	flex-direction: column;
      	width: 100%;
      	justify-content: center;
      	align-items: center;
    }

    #menu-toggle ~ nav ul.navLinks li a {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked ~ nav ul.navLinks li a {
      width:100vw;
      height: 1em;
      padding: 0.5em;
      border: 1px solid #546c6f;
      background-color: #b5c8cc;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked ~ nav ul.navLinks li a:hover {
      background-color: var(--nav-bg-color-hover, #b8dde5);
    }

    nav ul.navLinks > li {
      display: flex;
      justify-content: center;
      margin: 0;
      width: 100%;
      background-color: #d6e5e8;
    }
}

/* ends here */

fieldset {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    padding: 0 30px;
    border-radius: 8px;
    border-color: rgb(141, 163, 156);
    border-width: 4px;
}

input {
    font-family: Teko;
    color: #48585a;
    letter-spacing: 0.2rem;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
}

.connectWithMe    {
    color: #48585a;
    bottom: 0;
    right: 0;
    position: absolute;
}

legend {
    background-color: azure;
    border-radius: 25px;
}

label {
    padding: 0px 5px;
    background-color: azure;
    border-radius: 5px;
}

footer {
    width: max-content;
    margin-left: 18px;
    position: absolute;
    bottom: 0;
    color: #546c6f;
}

.contacts {
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
    & li.contact {
        display: inline-block;
        width: 2.5em;
        margin: 10px 10px;

        & svg {
            width: 2em;
            height: 2em;
            color: #546c6f;
            padding: 0px 10px;
            margin-bottom: 10px;
        }

        & svg:hover {
            cursor: pointer;
        }

        & span.iconFallback {
            display: none;
        }

        svg:empty + span.iconFallback {
            display: inline-block;
        }
    }
}